-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => ("hilite" if @sort == "title")} <a href="?sort_by=title">Movie Title</a>
      %th Rating
      %th{:class => ("hilite" if @sort == "release")} <a href="?sort_by=release">Release Date</a>
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
